<a href="https://colab.research.google.com/github/shahzaibedits23/AI-ML-DL-/blob/main/Assignment_4_(List).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1:Create a list of 7 numbers. Print only the even numbers from the list.

In [ ]:
list = [2,4,6,8,10,12,13]
even = [num for num in list if num % 2 == 0]
print("List of even numbers is",even)

List of even numbers is [2, 4, 6, 8, 10, 12]

Q2: Create a list of 5 student names. Ask the user to input a name, and check if it exists in the
list. Print &quot;Found&quot; or &quot;Not Found&quot;.

In [ ]:
my_list = ["Ali","Hamza","Saad","Zain","Maaz"]
name = input("Enter a name: ")
if name in my_list:
    print("Found")
else:
    print("Not Found")

Enter a name: Saad
Found

Q3: Create a list of 6 numbers. Print the maximum and minimum numbers without using max()
and min() functions.

In [ ]:
list = [91,29,13,47,59,16]
list.sort()
print(list)
print("Maximum number is",list[-1])
print("Minimum number is",list[0])

[13, 16, 29, 47, 59, 91]
Maximum number is 91
Minimum number is 13

Q4: Create a list [2, 4, 6, 8, 10]. Multiply each number by 3 and store the results in a new
list. Print the new list.

In [ ]:
list = [2,4,6,8,10]
new_list = []
for num in list:
    new_list.append(num*3)
print(new_list)

[6, 12, 18, 24, 30]

Q5: Create a nested list:
students = [[&quot;Ali&quot;, 20], [&quot;Sara&quot;, 22], [&quot;Ahmed&quot;, 19]]
Print only the names of the students.

In [ ]:
list= [["Ali", 20], ["Sara", 22], ["Ahmed", 19]]
for name,age in list:
    print(name)

Ali
Sara
Ahmed

Q6: Create a list of numbers. Find and print the second largest number from the list.

In [ ]:
list = [298,134,336,899,102,132,913]
list.sort()
print(list)
print("Second largest number is",list[-2])

[102, 132, 134, 298, 336, 899, 913]
Second largest number is 899

Q7: Create a list of numbers [1,2,3,4,5,6,7,8,9]. Print only the numbers at odd indexes (1,
3, 5 â€¦).

In [ ]:
list = [1,2,3,4,5,6,7,8,9]
print(list[1::2])

[2, 4, 6, 8]

Q8: Create a list of words. Join them into a single sentence (string) separated by spaces and print
it.

In [ ]:
list = ["My","Name","is","Shahzaib"]
list1 = " ".join(list)
print(list1)

My Name is Shahzaib