<a href="https://colab.research.google.com/github/shahzaibedits23/AI-ML-DL-/blob/main/Assignment_(Dictionary_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1: Create a dictionary with 3 fruits and their prices. Print the price of one fruit.

In [1]:
fruits = {'apple': 1.0, 'banana': 0.5, 'orange': 0.75}
print(fruits['apple'])

1.0

Q2: Make a dictionary of 3 students with their names as keys and marks as values. Print all the
keys (names).

In [2]:
students = {'Alice': 90, 'Bob': 85, 'Charlie': 92}
print(students.keys())

dict_keys(['Alice', 'Bob', 'Charlie'])

Q3: Create a dictionary of 5 countries and their capitals. Ask the user to input a country and print
its capital.

In [3]:
countries = {
    'USA': 'Washington D.C.',
    'Canada': 'Ottawa',
    'Mexico': 'Mexico City',
    'France': 'Paris',
    'Germany': 'Berlin'
}

country_input = input("Enter a country name: ")

if country_input in countries:
    print(countries[country_input])
else:
    print("Country not found in the dictionary.")

Enter a country name: pakistan
Country not found in the dictionary.

Q4: Create a dictionary with numbers as keys and their squares as values (for numbers 1 to 5).

In [4]:
squares = {num: num**2 for num in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Q5: Create a dictionary of a person with keys: name, age, city. Change the city to another one
and print the updated dictionary.

In [5]:
person = {'name': 'Alice', 'age': 30, 'city': 'New York'}
person['city'] = 'Los Angeles'
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Los Angeles'}

Q6: Create a dictionary of items in a store with their quantities. Add a new item to the dictionary
and print it.

In [6]:
store_items = {'apples': 100, 'bananas': 150, 'oranges': 75}
store_items['grapes'] = 200
print(store_items)

{'apples': 100, 'bananas': 150, 'oranges': 75, 'grapes': 200}

Q7: Create a dictionary of student marks. Find and print the student with the highest marks

In [7]:
student_marks = {'Alice': 90, 'Bob': 85, 'Charlie': 92, 'David': 88, 'Eve': 95}

highest_marks_student = max(student_marks, key=student_marks.get)

print(f"The student with the highest marks is: {highest_marks_student}")

The student with the highest marks is: Eve

Q8: Make a nested dictionary:
students = {
 "Ali": {"age": 20, "grade": "A"},
 "Sara": {"age": 22, "grade": "B"}
}

Print only the grades of all students.

In [9]:
students = {
"Ali": {"age": 20, "grade": "A"},
"Sara": {"age": 22, "grade": "B"}
}

for student_name, student_info in students.items():
    print(f"{student_name}: {student_info['grade']}")

Ali: A
Sara: B

Q9: Create a dictionary and remove one key-value pair using pop(). Print the updated
dictionary.

In [10]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
removed_value = my_dict.pop('b')
print(f"Removed value: {removed_value}")
print(f"Updated dictionary: {my_dict}")

Removed value: 2
Updated dictionary: {'a': 1, 'c': 3}