<a href="https://colab.research.google.com/github/shahzaibedits23/AI-ML-DL-/blob/main/Class_3_(List).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1: Create a list of 5 fruits. Print the first and last fruit.

In [ ]:
list = ['apple','banana','pineapple','peanut','cherry']
print(list[0])
print(list[-1])

apple
cherry

Q2: Create a list of numbers [10, 20, 30, 40, 50]. Print the sum of all numbers in the list.

In [ ]:
list = [10, 20, 30, 40, 50]
print('Sum of all numbers is',sum(list))

Sum of all numbers is 150

Q3: Make a list of 4 colors. Replace the 2nd color with a new one and print the updated
list.

In [ ]:
list = ['red','blue','green','yellow']
list[1] = 'orange'
print(list)

['red', 'orange', 'green', 'yellow']

Q4: Create a list [5, 10, 15, 20, 25]. Remove the number 15 and print the updated list.

In [ ]:
list = [5, 10, 15, 20, 25]
list.remove(15)
print(list)

[5, 10, 20, 25]